{% load static %}
{% load widget_tweaks %}
{% if messages %}
    메세지<br/>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{message.tags}}
        {{message.message}} <br/>
        </div>
    {% endfor %}
{% endif %}
    <div class="mb-3">
        <form action="" method="GET">
            <input type="text" name="q" value="{{ q }}" class="form-control" placeholder="검색어를 입력해주세요" />
            <input type="submit" value="search" class="btn btn-secondary" />
        </form>
    </div>
    <a href="{% url "myapp:shop_new" %}" class="btn btn-primary">생성하기</a>


    <body>
        <div class="container-fluid">
            <table id="grades" class="table table-bordered">
                <thead>
                  <tr>
                    <th>아이디</th> <th>이름</th> <th>성</th>
                    <th>가입일자</th> <th>그룹</th>
                  </tr>
                </thead>
                <tbody>
                    {% for shop in shop_list %}
                    <tr>
                        <td>
                            <a href="{{ shop.get_absolute_url }}"> 
                                {{shop.거래처코드}}
                            </a>
                        </td>
                        <td>{{shop.거래처명}}</td>
                        <td>{{shop.생성시간}}</td>
                        <td>{{shop.수정시간}}</td>
                        <td>{{shop.내용}}</td>
                    <tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
    <script type="text/javascript">
        function button_event(){
        if (confirm("정말 삭제하시겠습니까??") == true){ 
            document.form.submit();
        }else{  
            return;
        }
        }
    </script>
    <script src="{% static "myapp/js/jquery.min.js" %}"></script>
    <script src="{% static "myapp/js/table_sort.js" %}"></script>
    <script>
        $(function(){
          $('#grades').tablesorter();
      });
    </script>

</body>